/*EVENT LIST*/

.event-list:last-of-type{margin-bottom: 150px;}
.event-list li{
	position: relative;
	padding: 15px;
	margin: 30px 0;
	border-radius: 6px;
	-webkit-transition: all ease-in-out .2s;
	-moz-transition: all ease-in-out .2s;
	-ms-transition: all ease-in-out .2s;
	-o-transition: all ease-in-out .2s;
	transition: all ease-in-out .2s;
}

.event-list .infos{width: 50%; vertical-align: top; margin-right: 30px;}
.event-list .details{display: inline-block;}
.event-list .details div{display: block; font-size: 16px; margin: 15px 0;}
.event-list .details div:first-of-type{margin-top: 0;}
.event-list .details div .icon{margin-right: 10px; text-align: center;}

.event-list li:hover{background: #FAFAFA;}
.event-list li.active .title{font-weight: 700; background: #FFC81A; display: table;}

.event-list .date{text-align: center; display: inline-block; font-weight: 700; margin-right: 25px; width: 70px;}
.event-list .date .day{
	font-size: 48px;
	display: block;
	margin: 0;
	line-height: 1em;
}

.event-list .date .month{
	color: #C0C0C0;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.event-list .infos{display: inline-block;}
.event-list .title{font-size: 24px; display: block; margin-bottom: 10px;}
.event-list .creation-date{color: #C0C0C0;}
.event-list .book{
	cursor: pointer;
	display: block;
	color: #FFC81A;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 12px;
	margin-top: 15px;
}

.event-list .edit, .event-list .participate{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fafafa+0,fafafa+100&0+0,1+34 */
background: -moz-linear-gradient(left,  rgba(250,250,250,0) 0%, rgba(250,250,250,1) 34%, rgba(250,250,250,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(250,250,250,0) 0%,rgba(250,250,250,1) 34%,rgba(250,250,250,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(250,250,250,0) 0%,rgba(250,250,250,1) 34%,rgba(250,250,250,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fafafa', endColorstr='#fafafa',GradientType=1 ); /* IE6-9 */
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	padding: 19px;
	opacity: 0;
	cursor: pointer;
	margin-right: -10px;
	-webkit-transition: all ease-in-out .2s;
	-moz-transition: all ease-in-out .2s;
	-ms-transition: all ease-in-out .2s;
	-o-transition: all ease-in-out .2s;
	transition: all ease-in-out .2s;
	text-align: center;
	/*width: 50px;*/
}
.event-list .edit img, .event-list .participate img{width: 30px; position: relative;  vertical-align: middle; display: inline-flex; align-items: middle;}
.event-list .edit:after{content: 'Modifier';}
.event-list .participate:after{content: 'Participer';}
.event-list .edit:after, .event-list .participate:after{
	height: 0;
	/*margin-top: 10px;*/
	text-align: center;
	margin: 0 auto;
	font-size: 10px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	-webkit-transition: all ease-in-out .2s;
	-moz-transition: all ease-in-out .2s;
	-ms-transition: all ease-in-out .2s;
	-o-transition: all ease-in-out .2s;
	transition: all ease-in-out .2s;
	/*	-webkit-transition-delay: .2s;
        -moz-transition-delay: .2s;
        -ms-transition-delay: .2s;
        -o-transition-delay: .2s;
        transition-delay: .2s;	*/
	display: block;
	/*vertical-align: middle;*/
	/*line-height: 3px;*/
	opacity: 0;
}
.event-list li:hover .edit, .event-list li:hover .participate{opacity: 1; margin-right: 0;}
.event-list li .edit:hover, .event-list li .participate:hover{padding: 10px 19px;}
.event-list li .edit:hover:after, .event-list li .participate:hover:after{opacity: 1; height: 10px; margin: 10px auto 0;}

.event-list .old{
	opacity: .5;
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
	filter: grayscale(100%);
}

.event-list .old .infos, .event-list.created .infos{width: auto; max-width: calc(100% - 150px);}

.event-list div{vertical-align: middle;}

.event-list .separator label, .event-list .separator hr{display: inline-block;}
.event-list .separator hr{margin: 0; width: 100%; z-index: -1; position: relative;}
.event-list .separator label{float: left; margin-top: -13px; z-index: 1; position: relative; background: #FFF; padding-right: 15px;}

/*MENU*/

.events-menu{margin-bottom: 50px;}

.events-menu li{
	display: inline-block;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 12px;
	margin-right: 15px;
	color: #C0C0C0;
}

.events-menu li a{
	text-decoration: none;
	color: #C0C0C0;
	padding: 15px 0;
	border-color: #FFC81A;
	-webkit-transition: all ease-in-out .2s;
	-moz-transition: all ease-in-out .2s;
	-ms-transition: all ease-in-out .2s;
	-o-transition: all ease-in-out .2s;
	transition: all ease-in-out .2s;
	}
.events-menu li a:hover, .events-menu li a:focus{color: #000;}
.events-menu li a.active .title{color: #000; border-bottom: 1px solid #FFC81A;}
.events .btn{
	font-size: 12px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	text-shadow: none;
}

@media (max-width: 992px){
	.event-list li .edit:after, .event-list li .participate:after{opacity: 1; height: 10px; margin: 10px auto 0;}
}

@media (max-width: 768px){
	.event-list li{background: #FAFAFA; border: 1px solid #EFEBE4;}
	.event-list .date, .event-list .infos, .event-list .details{
		display: block;
		min-width: 100%;
		text-align: left;
		margin-bottom: 15px;
	}
	.event-list .date .day, .event-list .date .month{
		display: inline-block;
		font-size: 12px;
		letter-spacing: 1px;
		color: #000;
	}
	.event-list .date .day{margin-right: .3em;}

	.event-list .edit, .event-list .participate{
		position: relative;
		opacity: 1;
		margin: 0;
		padding: 0;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
		background: #FFC81A;
		width: 100%;
		padding: 10px;
		border-radius: 6px;
	}
	.event-list .edit:after, .event-list .participate::after{
		position: relative;
		display: inline-block;
		margin: 0 0 0 15px !important;
		text-align: center !important;
	}
	.event-list .edit img, .event-list .participate img{width: 20px;}
	.event-list .book{display: inline-flex; text-align: right; float: right; line-height: 24px; margin: 0;}
	.events-menu li{display: block; margin-bottom: 15px;}
	.events-menu li a{padding: .5em 0;}

}

/* NEW EVENT */
/*.time-date{float: right;}*/
.time-date .content{margin-top: 0;}
.time-date input[type="number"]{
	background-color: transparent;
	padding: 0;
	outline: none;
}
.character-counter{float: right; color: #C0C0C0; font-size: 12px; font-weight: 700; margin-top: 5px;}
	.events .place, .events .price{padding-left: 0;}
	.events .address, .events .price-info{padding-right: 0;}
@media (max-width: 992px){
	.events .place, .events .address, .events .price-info, .events .price{padding-left: 0; padding-right: 0;}
}


/*EMPTY STATE*/
.events .empty{text-align: center; margin: 100px 0;}
.events .empty h2{font-size: 36px; margin-bottom: 30px;}
.events .empty h3{font-size: 18px; margin-bottom: 30px;}

/*UPCOMING