@import "css/button.css";
@import "header-footer/header-footer.css";
@import "home/home.css";
@import "deals/deals.css";
@import "auth/auth.css";

@font-face {
    font-family: 'Apercu Pro';
    src: url('/assets/fonts/apercu_regular_pro.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('/assets/fonts/apercu_regular_italic_pro.otf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('/assets/fonts/apercu_medium_pro.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('/assets/fonts/apercu_medium_italic_pro.otf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('/assets/fonts/apercu_bold_pro.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('/assets/fonts/apercu_bold_italic_pro.otf');
    font-weight: 700;
    font-style: italic;
}


body{
    font-family: 'Apercu Pro', 'Helvetica Neue',sans-serif;
    -webkit-font-smoothing:antialiased;
    font-smoothing:antialiased;
    text-rendering: OptimizeLegibility;
    color: #000;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 300;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.emoji {
    width: 1em;
    height: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

ul{
    padding-left: 0;
}

li{
    list-style: none;
}

p{
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0;
}

a, a:hover{
    color: #000; 
}

.btn{
    border-radius: 0;
    padding: 10px 20px;
    font-weight: 300;
}

.btn-blue, .btn-blue:hover{
    background-color: #FFC81A;
    color: #000;
}

.btn-white{
    background-color: #000;
    color: #FFC81A;
}

.theme{
    cursor: pointer;
}

.content{
    margin-top: 150px;
}

h2{
    font-size: 6vw;
    font-weight: 700;
    color: #FFC81A;
    margin-bottom: 60px;
}

h2 .highlight{
    background: #FFC81A;
    color: #000;
}

small{
    font-weight: 700;
    color: #C0C0C0;
}
small a, small a:hover{color: #FFC81A;}

::selection {
  background: #FFC81A;
  color: #000;
}
::-moz-selection {
  background: #FFC81A;
  color: #000;
}

@media (max-width:992px){

    .navbar-fixed-top .navbar-collapse {
        max-height: 400px;
    }

    h2{
        font-size: 10vw;
    }
}



