.user-id{display: inline-block; margin-bottom: 20px;}
.user-id .email{font-size: 12px;}
.settings input.form-control{height: auto !important;}

.settings .profile-section{margin-bottom: 50px;}
.section-label-title{
	font-size: 12px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	text-shadow: none;
}
.settings input[type="text"], .settings input[type="number"], .settings textarea{
	background: #FAFAFA;
	border-radius: 0;
	border: 1px solid #EFEBE4;
	width: 100%;
	box-shadow: none;
	padding: 15px 20px;
	-webkit-transform: all ease-in-out .3s;
	-moz-transform: all ease-in-out .3s;
	-ms-transform: all ease-in-out .3s;
	-o-transform: all ease-in-out .3s;
	transform: all ease-in-out .3s;
	resize: none;
}

.input-group-addon{
	background-color: #FAFAFA;
	border-radius: 0;
	border: 1px solid #EFEBE4;
}

.settings input[type="text"]:focus, .settings textarea:focus{background: #fff;}

.settings textarea.form-control{height: 209px;}
.settings textarea:focus{border: 1px solid #EFEBE4; box-shadow: none;}

.settings .profile hr{margin: 10px 0 20px;}

.settings .profile .skills .checkbox{width: 49%; display: inline-block;}

.settings .profile .delete a{
	text-decoration: none;
	display: block;
	cursor: pointer;
}

.settings .profile .delete{padding-top: 25px; margin-bottom: 100px;}
.settings .delete a{ cursor: pointer; text-decoration: none;}
.settings .delete a div{padding-left: 25px; position: relative;}
.settings .delete a small{
	font-size: 9px;
	color: #C0C0C0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	text-shadow: none;
}
.settings .delete a div:before{
	content: '';
	background: url(/assets/img/delete-icon.svg) no-repeat left;
	left: 0;
	top: 2px;
	position: absolute;
	width: 15px;
	height: 15px;
	display: inline-block;
}