.designers.content{margin-top: 0;}

.designers header{
	background: url(/assets/img/designers-header-bg.jpg) no-repeat, #FFC81A;
	mix-blend-mode: multiply;
	background-position: center;
	background-size: cover;
	top: 0;
	padding: 90px 0;
}

/*Subnavigation*/

.navbar-designers{
	background: #fff;
	height: 0;
}

.navbar-designers .navbar-collapse, .navbar-designers .navbar-form{
	padding: 0;
	margin: 0 auto;
}

.navbar-designers input{
	border: none;
	box-shadow: none;
	height: 68px;
	margin: 0;
	width: 70% !important;
}

.navbar-designers .skills-filters li:last-of-type{padding: 20px 10px 10px;}
.navbar-designers .skills-filters li:last-of-type:before{content: none;}

.navbar-designers .skills-filters li .btn{
	margin-top: -8px;
}

.navbar-designers input:focus{
	outline: none;
	box-shadow: none;
}

.navbar-designers .input-group-addon.search{
	background: transparent;
	border: none;
}

.navbar-designers .skills-filters li{
	padding: 20px 10px;
	line-height: 28px;
	cursor: pointer;
}

.navbar-designers .skills-filters li:hover:before{
	width: 100%;
}

.designers-cards{
	background: #FAFAFA;
	padding: 15px 0;
	border-top: 1px solid #EFEBE4;
}

.card{
	background: #fff;
	border: 1px solid #EFEBE4;
	margin: 15px 0;
	padding: 0px;
	-webkit-transition: all ease-in-out .2s;
	-moz-transition: all ease-in-out .2s;
	-ms-transition: all ease-in-out .2s;
	-o-transition: all ease-in-out .2s;
	transition: all ease-in-out .2s;
}

@media (min-width: 768px){
	.card:hover{
		box-shadow: 0 20px 40px rgba(0,0,0,.1);
	}
}

.card .availability{
	background: #EFEBE4;
	text-align: center;
	padding: 10px;
	margin-bottom: 20px;
}

.card .header{
	text-align: center;
	border: 1px solid #EFEBE4;
	height: 65px;
	margin: 0 20px;
}

.card .header-infos{
	margin-top: -11px;
}

.card .hello, .card .work-at{
	color: #C0C0C0;
	font-size: 14px;
	font-weight: 300;
	background: #FFF;
	padding: 0 10px;
}

.card .name{
	font-size: 24px;
	margin: 5px auto;
	font-weight: 700;
}

.card .work-at span{color: #000;}

.card .skills{margin: 15px 20px 0; display: block; text-align: center;}
.card .skills li{
	text-align: center;
	padding: 5px 10px 2px;
	border-radius: 99px;
	background: #FFC81A;
	display: inline-block;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 700;
	margin: 5px 5px 0;
}

.card .link{
	background: url(/assets/img/link-icon.svg) no-repeat center;
	width: 20px;
	height: 0px;
	background-size: 20px;
	padding: 20px;
	border-radius: 99px;
	display: block;
	text-align: center;
	margin: 20px auto;
	border: 2px solid #FFC81A;
	text-decoration: none;
	-webkit-transition: all ease-in-out .2s;
	-moz-transition: all ease-in-out .2s;
	-ms-transition: all ease-in-out .2s;
	-o-transition: all ease-in-out .2s;
	transition: all ease-in-out .2s;
	overflow: hidden;
}

.card .link:hover{
	width: 135px;
	background-position: 15px;
	border-radius: 0;
	background-color: #FFC81A;
}

.card .link:hover:after{opacity: 1; margin-left: 25px;}
.card .link:after{
	content: 'Portfolio';
	margin-left: 35px;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	-webkit-transition: all ease-in-out .2s;
	-moz-transition: all ease-in-out .2s;
	-ms-transition: all ease-in-out .2s;
	-o-transition: all ease-in-out .2s;
	transition: all ease-in-out .2s;
/*	-webkit-transition-delay: .2s;
	-moz-transition-delay: .2s;
	-ms-transition-delay: .2s;
	-o-transition-delay: .2s;
	transition-delay: .2s;	*/
	display: inline-block;
	vertical-align: top;
	line-height: 3px;
	opacity: 0;
}


.join{
	background: #FFC81A;
	padding: 10px 0;
}

.join a{font-weight: 700;}
