<div class="fixed-background">
	<div class="col-md-7 pattern"></div>
	<div class="col-md-5 blue"></div>
</div>
<div class="col-md-7 description">
	<div class="col-lg-2 col-md-2"></div>
	<div class="col-lg-8 col-md-8 container">
		<h1>Bienvenue dans le <br><span class="highlight">Bordeaux Designers Club</span></h1>
		<p>Rejoins la première communauté de designers bordelais. Que tu sois Product Designer, UX Designer, DA, étudiant ou même stagiaire, vient partager ta passion et tes expériences avec nous.</p><p>Tu cherches un plan design près de chez toi ? Inscris-toi gratuitement et rencontre les graphistes de ta région. L’objectif est juste de discuter autour d’un réseau, de partager ses recherches de stages & jobs à pourvoir, ses inspirations ou encore de collecter du feedback.</p><p>PS : Nous utilisons Slack.</p>
		<ul class="share">
            <a href="https://twitter.com/home?status=Rejoins-nous%20sur%20le%20%23BordeauxDesignersClub%20sur%20%40SlackHQ%20d%C3%A8s%20aujourd'hui%20%F0%9F%92%95%F0%9F%8E%A8%F0%9F%8E%89%20Inscriptions%20ici%20%E2%9E%A1%EF%B8%8F%E2%9E%A1%EF%B8%8F%20http%3A//bordeauxdesigners.club%20" target="_blank">
            	<li>
            		<span class="icon"><img src="/assets/img/twitter.svg" alt="Twitter"></span>Partager sur Twitter
            	</li>
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//bordeauxdesigners.club" target="_blank">
            	<li>
            		<span class="icon"><img src="/assets/img/facebook.svg" alt="Facebook"></span>Partager sur Facebook
            	</li>
            </a>
        </ul>
	</div>
	<div class="col-lg-2 col-md-2"></div>
</div>
<div class="col-md-5 inscription">
	<div class="col-md-1"></div>
	<div class="col-md-8">
		<div class="messages" scroll-glue-bottom="glued">
			<div>
				<div class="exp row">
					Salut toi 👋 Alors, quel est ton programme aujourd'hui ? 😎
				</div>
				<div class="row">
					<div class="pull-right dest">
						<a href="" ng-click="inscriptionBegin = true">Je rejoins le Club</a>
					</div>
				</div>
			</div>
			<div ng-repeat="message in messagesList track by $index">
				<bdc-form-messenger message="message" call-back="nextStep"></bdc-form-messenger>
			</div>
		</div>
	</div>
	<div class="col-md-3"></div>
</div>
