.navbar-default .navbar-nav.yellow-background>li>a{color: #F6AC08;}

/*DESCRIPTION*/

.col-md-7.description{
	padding: 150px 0;
	background: url(/assets/img/background.svg) no-repeat, white;
	background-size: auto 66%;
	background-position: center;
	height: 100%;
}

.share{
	margin-top: 100px;
	text-align: center;
	padding: 0;
}
.share li{
	width: 147px;
	text-align: center;
	display: inline-block;
	padding: 20px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.share a{
	margin: 0 30px;
}

.share li:hover{
	box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.share a:first-child{
	margin-left: 0;
}

.share a:last-child{
	margin-right: 0;
}

.share .icon{
	display: block;
	margin: 8px auto;
}


/*INSCRIPTION*/

.inscription{
	background: #FFC81A;
	color: #fff;
	padding: 150px 0;
}

.inscription h2{
	opacity: .33;
	color: #fff;
}

input.form-control{
	border: 3px solid #fff;
	padding: 20px 15px;
	color: #fff;
	margin: 15px 0;
	border-radius: 0;
	background-color: #FFC81A;
}

input.form-control:focus{
	outline: none;
	box-shadow: none;
	border-color: transparent;
}



.form-control::-webkit-input-placeholder { color: rgba(255,255,255,.5); }
.form-control:-moz-placeholder { color: rgba(255,255,255,.5); }
.form-control::-moz-placeholder { color: rgba(255,255,255,.5); }
.form-control:-ms-input-placeholder { color: rgba(255,255,255,.5); }


/*BACKGROUNDS*/

.fixed-background{
	width: 100%;
	height: 100%;
	position: absolute;
}

.fixed-background .blue{
	background: #FFC81A;
	height: 100%;
	z-index: 0;
}

/* MESSAGES */

.messages .exp, .messages .dest{
	max-width: 250px;
	padding: 15px;
	font-size: 16px;
	margin-bottom: 15px;
	display: table;
}

.messages .row div{display: inline-block;}

.messages .exp{
	background: #F6AC08;
	border-radius: 25px 25px 25px 0;
	font-weight: 700;
}

.messages .exp a{color: #fff; text-decoration: underline;font-weight: 700;}

.messages .dest{
	text-align: right;
	color: #000;
	background: #fff;
	border-radius: 25px 25px 0 25px;
}

.messages input{
	border: none;
	outline: none;
	text-align: right;
	float: right;
	width: 100%;
}
.messages .loading{width: 76px; border-radius: 25px; padding: 15px 20px; display: inline-block;}
.loading .icon-bullet{
	opacity: 1;
	position: relative;
	width: 7px;
	height: 7px;
	background: #fff;
	margin: 0 1px;
	display: inline-block;
	border-radius: 100%;
	vertical-align: middle;
	animation: loading-bounce ease-in-out infinite 1s;
}

.loading .icon-bullet:nth-child(1){animation-delay: 0s;}
.loading .icon-bullet:nth-child(2){animation-delay: .2s;}
.loading .icon-bullet:nth-child(3){animation-delay: .4s;}

@media (min-width:992px){
	.inscription{
		position: absolute;
		right: 0;
		height: 100%;
		overflow-y: auto;
	}
}
@media (max-width:1200px){
	.col-md-7.description, .inscription{
	padding: 100px 0;
	}
}

@media (max-width:992px){
	.fixed-background{
		display: none;
	}

	.share a{
		margin: 0;
	}

	.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover{
		color: #000;
	}

	.messages{max-width: 500px; margin: 0 auto;}
	.messages .row{margin:0 5px 15px;}
}

@keyframes loading-opacity {
	0%		{opacity: .2;}
	50%		{opacity: 1;}
	100%	{opacity: .2;}
}

@keyframes loading-bounce {
	0%		{top: 0;}
	35%		{top: -6px;}
	70%		{top: 0;}
}