    <nav class="navbar navbar-default navbar-fixed-top" ng-class="{'nav-404': $state.includes('app.404')}">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand"><a ui-sref="app.home"><span class="logo"><img src="/assets/img/logo.svg" alt="Bordeaux Designers Club"></span></a><span ng-if="context.user.ok" class="slack-hello">Hello {{context.user.user.name}} 👋</span></div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a ui-sref="app.designers">Designers</a></li>
                    <li><a ui-sref="app.partners">Partenaires</a></li>
                    <li><a href="mailto:bordeauxdesignersclub@maxbrunel.com">Support</a></li>
                    <li><a ng-if="!context.user.ok" ui-sref="app.settings.deals">Connexion</a></li>
                    <li><a ng-if="context.user.ok" ui-sref="app.settings.deals">Paramètres</a></li>
                    <li><a ng-if="context.user.ok" href="" ng-click="logoutGoHome()">Déconnexion</a></li>
                    <li ng-if="!$state.includes('app.home') && !context.user.ok" class="inscription-btn"><a ui-sref="app.home" style="padding: 27px 0;"><span class="btn btn-blue">Inscription</span></a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <ui-view></ui-view>
    <footer class="container-fluid" ng-class="{'home-footer': $state.includes('app.home'),'footer-404': $state.includes('app.404')}">
        <div class="container">
            <div class="col-md-6">
                <span class="logo"><img src="/assets/img/logo.svg" alt="Bordeaux Designers club"></span>
                <div class="description">
                    <p>Le Bordeaux Designers Club est la communauté des designers bordelais.<br>Nous échangeons grâce à <a href="http://slack.com" target="_blank">Slack</a>.</p>
                    <p class="clear">Several people are typing in Bordeaux</p>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <ul>
                    <li><a ui-sref="app.about">À propos</a></li>
                    <li><a ng-click="theme();">Thème</a></li>
                    <li><a href="mailto:bordeauxdesignersclub@maxbrunel.com">Support</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-4">
                <ul>
                    <li><a ui-sref="app.partners">Partenaires</a></li>
                    <li><a ui-sref="app.deals">Événements</a></li>
                    <li><a ui-sref="app.designers">Designers</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-4">
                <ul>
                    <li><a ui-sref="app.home">Inscription</a></li>
                    <li><a ui-sref="app.settings.deals">Connexion</a></li>
                </ul>
            </div>
        </div>
    </footer>
