    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="app.home"><span class="logo"><img src="/assets/img/logo.svg" alt="Bordeaux Designers Club"></span></a>
                <span ng-if="context.user.ok">Bonjour {{context.user.user.name}}</span>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" ng-class="{'yellow-background': $state.includes('app.home')}">
                    <li><a href="mailto:bordeauxdesignersclub@maxbrunel.com">Support</a></li>
                    <li><a ng-click="theme();">Thème</a></li>
                    <li><a href="http://bordeauxdesignersclub.slack.com">Connexion</a></li>
                    <li ng-if="!$state.includes('app.home')" class="inscription-btn"><a ui-sref="app.home"><span class="btn btn-blue">Inscription</span></a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <ui-view></ui-view>
    <footer class="container" ng-class="{'home-footer': $state.includes('app.home'),'auth-footer': $state.includes('app.auth')}">
        <div class="row">
            <div class="col-md-6">
                <span class="logo"><img src="/assets/img/logo.svg" alt="Bordeaux Designers club"></span>
                <div class="description">
                    <p>Le Bordeaux Designers Club est la communauté des designers bordelais.<br>Nous échangeons grâce à <a href="http://slack.com" target="_blank">Slack</a>.</p>
                    <p class="clear">Several people are typing in Bordeaux</p>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <ul>
                    <li><a href="">À propos</a></li>
                    <li><a ng-click="theme();">Thème</a></li>
                    <li><a href="mailto:bordeauxdesignersclub@maxbrunel.com">Support</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-4">
                <ul>
                    <li><a href="">Partenaires</a></li>
                    <li><a ui-sref="app.deals">Deals</a></li>
                    <li><a href="">Designers</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-4">
                <ul>
                    <li><a ng-if="!$state.includes('app.home')" ui-sref="app.home">Inscription</a></li>
                    <li><a href="http://bordeauxdesignersclub.slack.com">Connexion</a></li>
                </ul>
            </div>
        </div>
    </footer>
